{{ $cover := .HasShortcode "blocks/cover" }}
<nav class="col-12 col-md-9 col-xl-8 offset-md-3 offset-xl-2 js-navbar-scroll navbar navbar-expand {{ if $cover}} td-navbar-cover {{ end }}flex-column flex-md-row td-navbar">
  <a class="navbar-brand kde-logo active" href="{{ .Site.Home.RelPermalink }}">Developer</a>
  <div class="td-navbar-nav-scroll" id="main_navbar">
    <ul class="navbar-nav">
      {{ $p := . }}
      {{ range .Site.Menus.main }}
      <li class="nav-item">
        {{ $active := or ($p.IsMenuCurrent "main" .) ($p.HasMenuCurrent "main" .) }}
        {{ with .Page }}
        {{ $active = or $active ( $.IsDescendant .)  }}
        {{ end }}
        {{ $url := urls.Parse .URL }}
        {{ $baseurl := urls.Parse $.Site.Params.Baseurl }}
        <a class="nav-link{{if $active }} active{{end}}" href="{{ with .Page }}{{ .RelPermalink }}{{ else }}{{ .URL | relLangURL }}{{ end }}" {{ if ne $url.Host $baseurl.Host }}target="_blank" {{ end }}><span{{if $active }} class="active"{{end}}>{{ .Name }}</span></a>
      </li>
      {{ end }}
      {{ if  .Site.Params.versions }}
      <li class="nav-item dropdown d-none d-lg-block">
        {{ partial "navbar-version-selector.html" . }}
      </li>
      {{ end }}
      {{ if  (gt (len .Site.Home.Translations) 0) }}
      <li class="nav-item dropdown d-none d-lg-block">
        {{ partial "navbar-lang-selector.html" . }}
      </li>
      {{ end }}
    </ul>
  </div>
  <div class="navbar-nav d-none d-lg-block">{{ partial "search-input.html" . }}</div>
</nav>
