{{ if .Path }}
{{ $pathFormatted := replace .Path "\\" "/" }}
{{ $gh_repo := ($.Param "github_repo") }}
{{ $gh_subdir := ($.Param "github_subdir") }}
{{ $gh_project_repo := ($.Param "github_project_repo") }}
{{ $gh_branch := (default "master" ($.Param "github_branch")) }}

{{ $gl_repo := ($.Param "gitlab_repo") }}
{{ $gl_subdir := ($.Param "gitlab_subdir") }}
{{ $gl_project_repo := ($.Param "gitlab_project_repo") }}
{{ $gl_branch := (default "master" ($.Param "gitlab_branch")) }}

{{ if $gh_repo }}
  <div class="td-page-meta ml-2 pb-1 pt-2 mb-0">
  {{ $editURL := printf "%s/edit/%s/content/%s" $gh_repo $gh_branch $pathFormatted }}
  {{ if and ($gh_subdir) (.Site.Language.Lang) }}
    {{ $editURL = printf "%s/edit/%s/%s/content/%s/%s" $gh_repo $gh_branch $gh_subdir ($.Site.Language.Lang) $pathFormatted }}
  {{ else if .Site.Language.Lang }}
    {{ $editURL = printf "%s/edit/%s/content/%s/%s" $gh_repo $gh_branch ($.Site.Language.Lang) $pathFormatted }}
  {{ else if $gh_subdir }}
    {{ $editURL = printf "%s/edit/%s/%s/content/%s" $gh_repo $gh_branch $gh_subdir $pathFormatted }}
  {{ end }}
  {{ $issuesURL := printf "%s/issues/new?title=%s" $gh_repo (htmlEscape $.Title )}}
  <a href="{{ $editURL }}" target="_blank"><i class="icon icon_document-edit"></i> {{ T "post_edit_this" }}</a>
  <a href="{{ $issuesURL }}" target="_blank"><i class="icon  icon_document-send"></i> {{ T "post_create_issue" }}</a>
  {{ if $gh_project_repo }}
    {{ $project_issueURL := printf "%s/issues/new" $gh_project_repo }}
    <a href="{{ $project_issueURL }}" target="_blank"><i class="fas fa-tasks fa-fw"></i> {{ T "post_create_project_issue" }}</a>
  {{ end }}
  </div>
{{ end }}

{{ if $gl_repo }}
  <div class="td-page-meta ml-2 pb-1 pt-2 mb-0">
  {{ $editURL := printf "%s/-/edit/%s/content/%s" $gl_repo $gl_branch $pathFormatted }}
  {{ if and ($gl_subdir) (.Site.Language.Lang) }}
    {{ $editURL = printf "%s/-/edit/%s/%s/content/%s/%s" $gl_repo $gl_branch $gl_subdir ($.Site.Language.Lang) $pathFormatted }}
  {{ else if .Site.Language.Lang }}
    {{ $editURL = printf "%s/-/edit/%s/content/%s/%s" $gl_repo $gl_branch ($.Site.Language.Lang) $pathFormatted }}
  {{ else if $gl_subdir }}
    {{ $editURL = printf "%s/-/edit/%s/%s/content/%s" $gl_repo $gl_branch $gl_subdir $pathFormatted }}
  {{ end }}
  {{ $issuesURL := printf "%s/-/issues/new?title=%s" $gh_repo (htmlEscape $.Title )}}
  <a href="{{ $editURL }}" target="_blank"><i class="icon icon_document-edit"></i> {{ T "post_edit_this" }}</a>
  <a href="{{ $issuesURL }}" target="_blank"><i class="icon  icon_document-send"></i> {{ T "post_create_issue" }}</a>
  {{ if $gl_project_repo }}
    {{ $project_issueURL := printf "%s/issues/new" $gl_project_repo }}
    <a href="{{ $project_issueURL }}" target="_blank"><i class="fas fa-tasks fa-fw"></i> {{ T "post_create_project_issue" }}</a>
  {{ end }}
  </div>
  {{ end }}
{{ end }}
